<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
  <fieldset>
    <legend>Passwort anfordern</legend>
    <br />
    <p>Geben Sie Ihre E-Mail Adresse so an, wie sie bei uns gespeichert ist und dr&uuml;cken Sie auf Senden.
       Wir werden Ihnen eine E-Mail mit einem link zum Passwort zur&uuml;cksetzen schicken.</p>
    <p>
      <label for="user_email" >E-Mail Adresse:</label><br/>
      <%= form.text_field :email, :size => 35, :class => 'text' %>
    </p>
    <%= submit_tag 'Senden' %>
  </fieldset>
<% end %>
