	<h1>Schön Sie zu sehen !</h1>
	<p>
	Brauchen Sie eine Homepage und wissen nicht wie ? Ich zeige es Ihnen !
	</p>
	<p>
	Wir können zusammen Homepages gestalten - einfache Webauftritte, mit und ohne Bildergalerien.
	</p>
	<p>
	Wenn Sie lieber ein CMS (Content Management System) bevorzugen - kein Problem, das lässt sich sehr leicht erlernen.
	Ich helfe Ihnen bei der Installation und zeige Ihnen, wie Sie Ihre Homepage immer aktuell halten und mit neuen Inhalten füllen.
	</p>
	<p>
	Oder doch lieber einen Blog ? Ein Forum ?
	</p>
	<p>
	Wenn Sie mehr wissen wollen, schauen Sie mal unter Webdienste nach, da bekommen Sie mehr Informationen.
	Oder rufen Sie mich einfach an, unter Kontakt finden Sie meine Nummer.
	</p>