	<h1>Webseite erstellen</h1>
	<ul>
		<li>bis zu 10 Seiten</li>
		<li>mit oder ohne Bildergalerie</li>
		<li>ansprechende Menüs</li>
	</ul>
	<h1>Webseite aufarbeiten</h1>
	<ul>
		<li>aktualisieren</li>
		<li>umgestalten</li>
		<li>auf ein Content Management System umstellen, z.B. <a href="http://www.Joomla.org">Joomla!&reg;</a> oder <a href="http://www.silverstripe.org">SilverStripe</a></li>
	</ul>