<%= menu_builder(@page_id, 'Start <span></span>' => '',
                           'Product management <span></span>' => 'screencasts',
                           'User management <span></span>' => 'users') %>