<div id="foot">
	<p class="fl">&copy; 2008-2010 by <a href="http://www.matze-msh.eu/">matze.msh</a> - Alle Rechte vorbehalten</p>
	<div id="footerMenu">
		<ul>
			<li><%= link_to "&Uuml;ber mich <span></span>", about_url %></li>
			<li><%= link_to "Kontakt <span></span>", contact_url %></li>
			<li><%= link_to "Impressum <span></span>", impressum_url %></li>
		</ul>
	</div>

	<!-- /#   LINKS AND AUTHOR-SIGNATURE CANNOT BE REMOVED !!! -->
	<!-- /# <p class="fr">
		<a href="http://www.breezy.cz/reference/webove-sablony-zdarma" title="More free templates coming soon">Free template</a> created by <a href="http://www.breezy.cz" class="ico ico-breezy">Breezy New Me-dia</a></p> -->
</div>
