<div id="head">
	<div id="logo">
		<% logo = image_tag("logo.jpg", :alt => "matze.msh", :class => "round") %>
		<%= link_to logo, root_url %>
		<h1><a href="/">matze.msh</a></h1>
		<h2><a href="/">WebDesign</a></h2>
	</div>
	<hr class="hidden" />
	<div id="mainMenu">
		<%= main_menu %>
		<form action="" method="post" id="search">
			<fieldset>
				<input type="text" name="" value="" class="button" />
				<input type="submit" value="" class="submit" />
			</fieldset>
		</form>
	</div>
	<hr class="hidden" />
</div>
