<%= menu_builder(@page_id, 
                           'Webdienste <span></span>' => 'service',
                           'Start <span></span>' => '',
                           'Referenzen <span></span>' => 'reference',
                           'Aktuelles <span></span>' => 'news',
                           'Screencasts <span></span>' => 'screencasts') %>
